@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@media screen , print {
	html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,del,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,caption,tbody,tr,th,td
		{
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 11px;
	}
	ol,ul {
		list-style: none;
	}
	blockquote,q {
		quotes: none;
	}
	blockquote:before,blockquote:after,q:before,q:after {
		content: '';
		content: none;
	}
	:focus {
		outline: 0;
	}
	ins {
		text-decoration: none;
	}
	img {
		border: 0;
	}
	/*END RESET*/
	body {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
		line-height: 125%;
	}
	#tabvhr {
		text-align: center;
		margin-bottom: 30px;
	}
	#sumOwnModule,#dmvProbsModule,#otherInfoModule,#hlModule,#detailsModule,#glossaryModule,#signatureModule,#ucl-module,#sgi-module,#icbc-module, #lienModule
		{
		border: 3px solid #98a3b1;
		width: 670px;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	.advisorCheck {
		margin-top: 10px;
	}
	.clearfix {
		clear: both;
	}
	.green {
		color: #009900;
		font-weight: bold;
	}
	.pad2 {
		padding: 2px !important;
	}
	.pad3 {
		padding: 3px !important;
	}
	.pad5 {
		padding: 5px !important;
	}
	.pad10 {
		padding: 10px !important;
	}
	.nopad {
		padding: 0;
	}
	.smallbluebold {
		font-weight: bold;
		color: #003366
	}
	.white,a.white:visited,a.white:active {
		color: #FFFFFF
	}
	.thirteen {
		font-size: 13px;
		font-weight: bold
	}
	.red,.alertRed {
		color: #cc0000
	}
	.grey {
		color: #cccccc;
	}
	.smallgrey {
		font-family: Tahoma, Verdana, Arial;
		font-size: 9px;
		color: #333333;
	}
	a.ylw,a.ylw:hover,a.ylw:visited {
		font-weight: bold;
		color: #ffffcc;
	}
	a.blue,a.blue:visited,a.blue:hover {
		font-weight: bold;
		color: #003366;
	}
	.hltitle {
		border-bottom: 1px solid #cccccc;
		background-color: #ffffcc
	}
	.invisibleText {
		position: relative;
		display: none;
		z-index: 2;
	}
	#leadIn {
		margin: 7px 0;
		font-size: 11px;
	}
	#copyright,#additionalDisclaimerText {
		font-size: 11px;
	}
	.hidden,#hidden,#forPersonalUsePrint,.varTagNoDisplay {
		display: none;
	}
	.bold,.strong {
		font-weight: bold;
	}
	.hilite {
		background-color: #FFFF33
	}
	.centered {
		text-align: center;
	}
    .rightTextAlign {
        text-align: right;
    }

	.bigwhite {
		color: #ffffff;
		font-size: 16px;
		font-weight: bold;
	}
	.container {
		width: 670px;
		margin: 0 auto;
		text-align: left;
	}
	/****************MODULE GLOBAL********************/
	.secHdrRow {
		height: 30px;
		background-image: url(/img/vhr/sechdrbg.gif);
		background-repeat: repeat-x;
		color: #ffffff;
		background-color: #336699;
	}
	.secHdrRow h3 {
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 3px;
        line-height: 22px;
	}
	h3 sup {
		font-size: 14px;
		font-weight: normal;
	}
	.secHdrRow,.secHdrRow div, .secHdrRow th {
		border-bottom: 1px solid #cccccc;
		border-right: 1px solid #aaaaaa;
		text-align: left;
		padding: 4px 0 2px 4px;
		font-weight: normal;
	}
	.secHdrRow th.statCol {
		text-align: center;
		font-weight: bold;
		padding: 0;
	}
	.glossaryLink {
		float: right;
		padding-right: 4px !important;
		text-align: right !important;
		border: 0 none #fff !important;
	}
	.glossaryLink a,.glossaryLink a:visited {
		font-family: Tahoma, Arial, Helvetica, sans-serif;
		font-size: 9px;
		color: #fff;
		border: 0 none #fff
	}
	.glossaryLink a:hover {
		color: #FFFF99;
	}
	/************************************
     *   HEADER
     ************************************/
	#showMeHeader {
		width: 670px;
		margin: 0 auto;
		padding: 6px 0 18px 0;
		text-align: center;
	}
	#langToggle {
    	color: #666;
		font-size: 11px;
		font-weight: bold;
		margin: 0 auto;
		text-align: right;
		padding-top: 3px;
	}
	a#language-toggle, a#language-toggle:visited {
		color: #003366;
		background-color: #efefef;
		padding: 10px;
		-moz-border-radius-bottomleft: 3px;
		-webkit-border-bottom-left-radius: 3px;
		-moz-border-radius-bottomright: 3px;
		-webkit-border-bottom-right-radius: 3px;
	}
	a#language-toggle:hover {
		color: #FF6600;
	}
	#mainHead,#hdr {
		border-bottom: 2px solid #aab6cb;
	}
	.equip-bullet {
		padding-right: 5px;
	}
	#installed-equipment-list td {
		vertical-align: top;
		font-family: Tahoma, Arial, Helvetica, sans-serif;
		font-size: 10px;
		white-space: nowrap;
	}
	a#vehicle-information-ucl-link {
	    text-decoration: none;
	    color: #000000;
	}
	a#vehicle-information-ucl-link:hover {
	    text-decoration: underline;
	    color: #0645AD;
	}
	#optStd {
		width: auto
	}
	label#headerVehicleInformation,label#headerSectionVehicleLocationTitle {
		color: #306099;
		font-weight: bold;
		font-size: 12px;
	}
	#hdrXpert {
		position: relative;
		left: 7px;
		float: left;
		font-size: 12px;
		z-index: 99;
	}
	#hdrXpert label {
		font-weight: bold;
		font-size: 14px;
		padding-left: 7px;
		padding-top: 7px;
	}
	#vinDecode {
		margin: 0px 2px 17px 0;
	}
	.topline {
		background-color: #ebe7cb;
	}
	.icoCol {
		border: 1px solid #ebe7cb;
		text-align: center;
		background-color: #fffbe7;
		border-top: 0px;
	}
	.XDescCol {
		background-color: #fffbe7;
		border-bottom: 1px solid #ebe7cb;
		border-right: 2px solid #aab6cb;
		text-align: left;
		font-size: 12px;
		padding-left: 7px;
	}
	.XDescCol label {
		font-weight: bold;
		font-size: 14px;
		padding: 7px 4px 0 0;
		text-align: left;
	}
	.XDactive {
		background-image: url(/img/vhr/XDescbg.gif);
		background-repeat: repeat-y;
		cursor: pointer;
	}
	.XDinactive {
		background-image: none;
		cursor: auto;
	}
	td.XDesc {
		padding-right: 4px;
	}
	.XDinactive .XDesc {
		text-decoration: none;
		font-size: 12px;
	}
	.XDactive .XDesc {
		text-decoration: underline;
		font-size: 12px;
	}
	td.hdrIcon {
		text-align: center;
	}
	.XDactive {
		background-image: url(/img/vhr/XDescbg.gif);
		background-repeat: repeat-y;
		cursor: pointer;
	}
	.flagged {
		color: #CC0000;
		font-weight: bold;
		display: block;
	}
	img.headerRowIcon {
		margin: 0;
		padding: 0;
		border: 0;
	}
	.hdrHL {
		margin-top: 40px;
	}
	#vhrHeaderRow0 {
		width: 360px;
	}
	#vhrHeaderRow1 {
		width: 240px;
	}
	#vhrHeaderRow2 {
		width: 220px;
	}
	#vhrHeaderRow3 {
		width: 205px;
	}
	#vhrHeaderRow4 {
		width: 210px;
	}
	#vhrHeaderRow5 {
		width: 210px;
	}
	#printXpert {
		margin-right: -15px;
		margin-top: -243px;
		text-align: right;
		float: right;
	}
	#printXpert > img {
		float: right;
		position: relative;
	}
	/************************************
*   SUMMARY
************************************/
	td.statCol>td.ishrep {
		padding-left: 8px;
	}
	.summaryOdd {
		background-color: #f5f5f5;
	}
	.summaryEven {
		background-color: #ffffff;
	}
	.summaryAlert {
		background-color: #ffffdd;
	}
	.tcCopy {
		padding-left: 7px;
	}
	.tcCopy a,.tcCopy a:visited {
		font-weight: normal !important;
		color: #0000ff !important;
		text-decoration: underline !important;
		border: 0 !important;
	}
	.tcCopy a:hover {
		color: #FF3300;
	}
	#bbgPara {
		text-align: left;
	}
	#guaranteeReg,#bbgCertificate {
		display: inline;
	}
	.statCol {
		border-top: 0px none #aaaaaa;
		border-right: 1px solid #aaaaaa;
		border-bottom: 1px solid #cccccc;
		border-left: 0px none #aaaaaa;
		text-align: center;
		padding: 3px;
		overflow: hidden;
	}
	.eventCol {
		border-top: 0px solid #aaaaaa;
		border-right: 1px solid #aaaaaa;
		border-bottom: 1px solid #cccccc;
		border-left: 1px solid #aaaaaa;
		text-align: left;
		padding: 3px;
		line-height: 155%;
	}
	.eventCol a,.eventCol a:visited,a.vhr-tooltip,a.vhr-tooltip:visited,a.header-tooltip
		{
		font-weight: bold;
		color: #000099;
		text-decoration: none;
		border-bottom: 1px dotted #000099;
		margin-bottom: 2px;
	}
	.eventCol a.notip,.eventCol a.notip:visited {
		border: 0;
		text-decoration: underline;
		color: #0000ff;
		font-weight: normal;
	}
	.eventCol a.noBorder{
		text-decoration: none;
		border: none;
    }
	#oneOwnerLogo {
		position: absolute;
		z-index: 10;
		margin: -10px 0 0 -200px;
		float: left;
	}
	#alertIcon {
		position: absolute;
		margin-top: -5px;
		padding-left: 12px;
		z-index: 9;
	}
	.alertModule {
		border: 2px solid #cf1313;
		margin-bottom: 15px;
		padding: 5px;
		font-weight: bold;
		font-size: 12px;
		color: #333333;
		background-color: #f8dcdc;
		clear: both;
		line-height: 150%;
		min-height: 41px;
		height: auto !important;
		height: 41px;
	}
	.alertModule strong {
		color: #cf1313;
		font-size: 14px;
	}
	.iconAndText {
		margin: 0pt auto;
		width: 90px;
	}
	.iconAndText img {
		float: left;
		padding-top: 3px
	}
	.iconAndText div {
		text-align: left;
		padding-left: 26px;
	}

	/************************************
*   DETAILS
************************************/
    #endOfOwnerShipDate {
        display:block;
        text-align: left;
        vertical-align: top;
        color: #fff;
        font-size: 10px;
        font-family: Tahoma, Arial, Helvetica, sans-serif
    }
	.rolocolumn {
		padding: 0 0 0 6px;
		text-align: left;
		vertical-align: top;
		color: #fff;
		font-size: 10px;
		font-family: Tahoma, Arial, Helvetica, sans-serif
	}
	.rolocolumn input {
		font-size: 12px;
	}
	.folderstyle {
		border-color: #4776a9;
		border-width: 2px;
		border-style: solid;
		width: 100%;
	}
	.folderstyle td {
		padding: 3px;
	}
	.folderstyle th {
		padding: 4px;
		text-align: left;
	}
	.mileage {
		text-align: right;
	}
	.evenrow td, .evenrow {
		background-color: #e6edf5;
		border-top: 1px solid #cccccc;
		vertical-align: top;
	}
	.printrow td {
		background-color: #f3f3f3;
		border-top: 1px solid #cccccc;
		border-bottom: 1px solid #cccccc;
		vertical-align: top;
		text-align: center;
		font-weight: bold;
	}
	.oddrow td, .oddrow {
		background-color: #ffffff;
		border-top: 1px solid #cccccc;
		vertical-align: top;
	}
	.cpoTile {
		text-align: center;
		margin: 15px 0;
	}
	.ownerTabPrint {
		background-color: #4776a9;
		width:170px;
	}
	.buttress {
		background-color: #ffffff !important;
		text-align: right !important;
	}
	.bornOnTxt {
		font-size: 9px;
		margin-bottom: 0px;
		margin-top: 10px;
	}
	.invisibleText {
		position: relative;
		display: none;
		z-index: 2;
	}

	.details-column{
		display: flex;
		flex-direction: column;
	}

	.details-row, .details-full-row, .details-owner-row, .details-owner-container, .details-mobile-row {
		display: flex;
	}

	.details-row-header {
		font-weight: bold;
	}

	.details-row > div{
		padding: 3px;
	}

	.details-owner-row > div {
		width:49%;
	}

	.details-row > div:nth-child(1){
		 width: 14%;
	 }

	.details-row > div:nth-child(2){
		width: 13%;
	}

	.details-row > div:nth-child(3){
		width: 24%;
	}

	.details-row > div:nth-child(4){
		width: 49%;
	}

	/*** Severity Scale Desktop ***/
	#severity-container {
		height: 87px;
		width:235px;
		display: flex;
		flex-direction: column;
		align-items:center;
		margin: 0px 0px 10px 0px;
		position:absolute;
		top:0;
		z-index:1;
		font-family: "Helvetica";
	}
	.severity-yellow-fill-container{
		position:relative;
		z-index: 0;
		top:4px;
		bottom:0;
		height:87px;
		width: 236px;
		margin-left: 10px;
		border: 1px solid #E0E0E0;
		border-radius:3px;
	}
	.scale-text {
		color: #424242;
		letter-spacing: -0.24px;
		font-weight: bold !important;
		font-family: "Helvetica" !important;
		font-size: 12px !important;
		display: flex;
		margin-top: 15px;
		align-items: center;
		max-height: 20px;
	}
	.center{
		align-items: center;
		justify-content: center;
	}
	.scale-container{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 70px;
	}
	.scale-rectangle{
		height: 12px;
		width: 212px;
		border: 1px solid #212121;
		position: relative;
	}
	.severity-legend{
		display: flex;
		justify-content: space-between;
		width: 232px;
		z-index: 1;
		padding-top: 7px;
	}
	.severity-type{
		font-family: "Helvetica";
		display:flex;
		justify-content:center;
		height: 15px;
		color: #212121;
		font-size: 8px;
		letter-spacing: -0.16px;
		padding:0 3px;
	}
	.absolutely {
		position: absolute;
		top: 0;
	}
	.severity-indicator-container-narrow {
		position: relative;
		height: 20px;
		width: 27px;
	}
	.severity-indicator-container {
		position: relative;
		height: 20px;
		width: 52px;
	}
	.white-fill {
		position: relative;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
	#scale-indicator{
		display:flex;
		z-index:100;
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
	}
	.VeryMinorDamageSeverity{
		margin: -4px 0 0 -1px;
	}
	.MinorDamageSeverity{
		margin: -4px 0 0 -4px;
	}
	.MinorToModerateDamageSev{
		margin: -4px 0 0 35px;
	}
	.ModerateDamageSeverity{
		margin: -4px 0 0 80px;
	}
	.ModerateToSevereDamageSev{
		margin: -4px 0 0 120px;
	}
	.SevereDamageSeverity{
		margin: -4px 0 0 166px;
	}
	.VerySevereDamageSeverity{
		margin: -4px 0 0 186px;
	}
	.slider-box{
		display: flex;
	}
	.yellow-fill{
		width:100%;
		height:100%;
		position:relative;
		top:0;
	}
	.pad-left{
		padding-left:10px;
	}
	.severity-scale-popup {
		display: none;
		background: white;
		position: fixed;
		top: calc(50% - 200px);
		left: calc(50% - 320px);
		z-index: 3;
		padding: 3em;
		width: calc(90%);
		max-width: 600px;
	}
	.severity-scale-popup strong,
	.severity-scale-popup ul,
	.severity-scale-popup li{
		font-size: 16px;
	}
	.severity-scale-popup-text-container .severity-scale-popup-text,
	.severity-scale-popup-text-container .severity-scale-popup-text div,
	.severity-scale-popup div{
		text-align: left;
	}
	.severity-scale-popup-text-container {
		display: flex;
		justify-content: space-between;
	}
	.severity-scale-popup-text {
		padding-top: 1em;
	}
	.severity-scale-popup ul {
		line-height: 1.2em;
		list-style: disc;
		margin: 12px 16px;
	}
	.close-modal, .severity-scale-info-icon {
		cursor: pointer;
	}
	.severity-scale-popup button{
		background-color: #424242;
		font-size: 14px;
		height: 38px;
		width: 86px;
		border-radius: 4px;
		border: 0;
		color: #fff;
		text-align: center;
		margin-top: 2em;
	}
	.material-icons.md-18 { font-size: 18px; }
	.material-icons.blue{color:#3777bc;}


	/************************************
*   GLOSSARY/FOOTER
************************************/
	dl {
		padding: 5px;
	}
	dt {
		font-weight: bold;
		text-align: left;
	}
	dd {
		margin-bottom: 10px;
		text-align: left;
	}
	dd .inset {
		margin: 10px 20px;
		text-align: left;
	}
	dd ul {
		margin: 0 20px 20px 20px;
		list-style: disc;
	}
	dd li {
		margin-top: 5px;
		text-align: left;
	}
	/************************************
*   HOTLISTINGS
************************************/
	.results {
		padding: 4px;
		background-color: #d7deda;
		margin-bottom: 4px;
	}
	.smallbluebold {
		font-weight: bold;
		color: #003366;
	}
	.results a:visited {
		color: #0000ff;
	}
	.results a.ylw,.results a.ylw:hover,.results a.ylw:visited {
		font-weight: bold;
		color: #ffffcc;
	}
	.results a.blue,.results a.blue:visited,.results a.blue:hover {
		font-weight: bold;
		color: #003366;
	}
	table.premiumResultSet {
		border: #c8ccc8 1px solid;
		margin-bottom: 2px;
		background-color: #ffffe6;
		font-size: 12px;
		line-height: 135%;
	}
	table.premiumResultSet td {
		padding: 3px;
	}
	table.resultSet {
		border: #c8ccc8 1px solid;
		padding: 5px;
		margin-bottom: 2px;
		background-color: #ffffff;
	}
	table.resultSet td {
		padding: 3px;
	}
	.results .premOrange {
		font-size: 12px;
		color: #FF6600;
		font-weight: bold;
		width: 35%;
	}
	.results .premBlue {
		font-size: 12px;
		color: #003366;
		font-weight: bold;
	}
	.results img.cfxlogo {
		border: 0;
	}
	#HLModule select {

	}
	#zipInput {
		padding: 1px;
	}
	.hlElem {
		padding-left: 6px;
		text-align: left;
		margin-bottom: 5px;
	}
	/************************************
*   NIL
************************************/
	.dlrNILModule,.dlrContactModule {
		border: 3px solid #98a3b1;
		margin-bottom: 15px;
		padding: 5px 10px;
		background-color: #ebeff4;
		font-size: 10px;
		float: none;
	}
	.dlrNILModule h2 {
		font-size: 20px;
		margin: 5px 0;
	}
	.dlrContactModule h2 {
		font-size: 12px;
		width: 100%;
		border-bottom: 1px dotted #999999;
		padding: 3px 0;
	}
	.dlrContactModule .NILcontainer {
		margin-top: 3px;
		padding: 5px 0;
		float: left;
		width: 100%;
	}
	.contactForm {
		float: left;
		width: 48%;
		padding-left: 10px;
		border-left: 2px solid #98a3b1;
	}
	.cFormIntro {
		display: block;
		margin-bottom: 4px;
		font-size: 11px;
	}
	.cFormEntry {
		display: block;
	}
	.dlrContact {
		width: 48%;
		font-size: 12px;
		float: left;
		line-height: 130%;
	}
	address {
		font-style: normal;
	}
	h4 a,h4 a:visited {
		font-size: 20px;
		color: #0000cc;
		margin: 5px 0;
		display: block;
	}
	.entryLabel {
		float: left;
		width: 27%;
		text-align: right;
		padding: 4px 3px 0 0;
	}
	.entryInput {
		float: left;
		font-size: 11px;
		padding-bottom: 3px;
	}
	.entryInput select,.entryInput input,.entryInput textarea {
		font-size: 11px;
		font-family: Arial, Helvetica, sans-serif;
	}
	#comCntr {
		font-weight: bold;
	}
	/*NILBottom*/
	.nameInLights {
		border: 3px solid #98a3b1;
		width: 670px;
		margin: 0 auto;
		margin-bottom: 15px;
		background-color: #ebeff4;
	}
	#dlrNIL {
		padding: 10px 0 0 0;
		text-align: left
	}
	.dlrNILloc {
		border-bottom: 1px dotted rgb(145, 156, 176);
		text-align: left;
	}
	.dlrNILloc h2 {
		font-size: 12px;
		display: inline
	}
	#dlrNIL h2 {
		font-size: 20px;
		margin: 0px;
		text-align: left
	}
	#dlrNIL a:visited {
		color: #0000ff;
	}
	#dlrInfo h2 {
		font-size: 14px;
		margin-bottom: 0px;
		margin-left: 7px;
	}
	address {
		font-size: 12px;
		font-style: normal;
	}
	#dlrNIL input,#dlrInfo input,#dlrNIL select,#dlrInfo select {
		font-size: 10px;
		font-weight: normal;
	}
	#dlrNIL textarea,#dlrInfo textarea {
		font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	.faded {
		color: #999999;
		font-size: 11px;
	}
	.normaltxt {
		font-size: 11px;
		font-weight: normal;
		color: #000000;
	}
	#addressBlock {
		width: 220px;
		padding: 2px;
	}
	#dlrNIL ul,#dlrInfo ul {
		margin: 0px 3px 3px 3px;
		padding: 0px;
	}
	#dlrNIL li,#dlrInfo li {
		padding-left: 15px;
		list-style: none;
		margin: 0px;
		line-height: 17px;
	}
	#dlrDaP {
		background: url(/img/vhr/map.gif) no-repeat 0px 2px;
	}
	#dlrPhone {
		background: url(/img/vhr/phone.gif) no-repeat 1px 3px;
		font-size: 12px;
		font-weight: bold;
	}
	#dlrLink {
		background: url(/img/vhr/globe.gif) no-repeat 0px 3px;
	}
	#findOther {
		background: url(/img/vhr/search.gif) no-repeat 0px 3px;
	}
	#nilMsg {
		padding: 3px;
		font-weight: bold;
	}
	.NILwrapper {
		background-color: #f5f5f5;
		padding: 5px;
	}
	#twocol address {
		width: 60%;
		float: left;
		text-align: left;
	}
	#twocol #dlrLinks {
		width: 30%;
		float: left;
		text-align: left;
	}
	#onecol address {
		width: 51%;
		float: left;
		text-align: left;
		padding-left: 10px;
	}
	/************************************
*   XPERT STYLES
************************************/
	div.xpertrow {
		border-top: 0px none !important;
		text-align: right !important;
		display: flex;
		justify-content: flex-end;
		padding: 6px 12px 3px 0;
	}
	.xpertSmall {
		width: 240px;
		clear: both;
		text-align: right;
	}
	.xpertSmall td,.xpertLarge td {
		border-top: 0px none !important;
	}

	.xpertSmall td {
		padding-bottom: 0px;
	}

	.xpertLarge td {
		padding-bottom: 2px;
	}
	.xpertLarge {
		width: 375px;
		text-align: right;
	}
	.xpertLargeImage {
		margin-right: 38px;
	}
	.xpertDetailInRecord {
		background-image:
			url(/img/vhr/xpert-details-infer-record-bubble.gif);
		background-repeat: no-repeat;
		background-position: bottom;
		padding: 0px 4px 10px 25px;
		vertical-align: top;
		min-height: 40px;
		height: auto !important;
		height: 40px;
		text-align: left;
		line-height: 110%;
	}
	.xpertLongFormat {
		background-image: url(/img/vhr/xpert_long.gif);
		background-repeat: no-repeat;
		background-position: right bottom;
		padding: 4px 15px 10px 30px;
		vertical-align: top;
		min-height: 35px;
		height: auto !important;
		height: 35px;
		text-align: left;
		width: auto;
	}
	.xpertLongFormat .xpertText {
		float: right;
		padding-right: 4px;
		width: 265px;
		text-align: left;
	}
	.xpertLongFormat ul {
		margin-left: 15px;
		list-style: square;
	}
	.xpertLongFormat li {
		margin-top: 3px;
	}
	.xpertTab {
		background-image: url(/img/vhr/xpert_tabbg-bubble.gif);
		background-repeat: no-repeat;
		background-position: bottom;
		padding: 0;
		vertical-align: top;
		min-height: 101px;
		height: auto !important;
		height: 101px;
		text-align: left;
	}
	.carfoxTab {
		-moz-border-radius-topleft: 5px;
		-webkit-border-top-left-radius: 5px;
		-moz-border-radius-bottomleft: 5px;
		-webkit-border-bottom-radius: 5px;
		background-color: #FFE5B2;
		border-color: #CCCCCC;
		border-style: solid;
		border-width: 0 0 1px 1px;
		min-height: 101px;
		height: auto !important;
		height: 101px;
		padding: 0;
		text-align: left;
	}
	.carfoxTabContent {
		font-size: 11px;
		padding: 5px 0 8px 5px;
		width: 90px;
	}
	#carfoxTabImg {
		float: right;
		margin: -90px -3px 0 0;
	}
	/***********************
*   NON MODULE STYLES
************************/
	#RRR {
		margin: 0 auto;
		width: 670px;
		height: 25px;
		background-image: url(/img/vhr/blank640grey.gif);
		background-repeat: no-repeat;
		font-size: 11px;
		padding: 2px 0 0 0;
	}
	#RRR input {
		font-size: 11px;
	}
	#RRR .rightpad {
		padding-right: 7px;
		text-align: right;
	}
	#RRR .leftpad {
		padding-left: 7px;
		text-align: left;
	}
	#RRR #runAnotherTd {
		float: left;
		text-align: left;
		display: inline;
		padding-left: 7px;
	}
	#RRR .print {
		float: right;
		display: inline;
		text-align: right;
		padding: 3px 10px;
	}
	#flyout {
		float: left;
		position: absolute;
		z-index: 999;
		left: -1599em;
		margin: 2px 0 0 -1px;
		padding: 0px;
		height: 170px;
		width: 343px;
	}
	#emailAnnex {
		background-color: #F8F8F8;
		padding: 10px;
		height: 160px;
		width: 343px;
		border: 1px solid #999999;
	}
	#emailAnnex input {
		margin-bottom: 5px;
		font-size: 11px;
	}
	#emailAnnex textarea {
		margin-bottom: 5px;
		font-family: Arial, Verdana, sans-serif;
		font-size: 11px;
	}
	#emailAnnex td,#emailAnnex tr {
		padding: 0px;
		margin-left: 5px;
		margin-top: 0px;
		text-align: left;
	}
	#annexMsg {
		font-family: Tahoma, Verdana, Arial, sans-serif;
		font-weight: bold;
		color: #ff0000;
		margin: 0px auto;
		font-size: 10px;
		text-align: left;
		display: none;
	}
	#RRRmsg {
		font-family: Tahoma, Verdana, Arial, sans-serif;
		font-weight: bold;
		color: #ff0000;
		width: 140px;
		margin: 0px auto;
		font-size: 10px;
		text-align: center;
		display: block;
	}
	#forPersonalUse {
		float: left;
		width: 40%;
		text-align: left;
		padding: 5px;
		font-weight: bold;
	}
	#emailReport {
		float: left;
		text-align: left;
		padding: 2px 7px;
		display: inline;
	}
	/*upModules*/
	#organicUpSellBanner {
		background-color: #e5ecf9;
		padding: 10px;
		margin-bottom: 15px;
		color: #003366;
	}
	.xLink {
		text-align: center;
		margin-bottom: 15px;
	}
	td .xLink {
		margin: 10px 0;
	}
	#otherInfoModule .xLink {
		margin: 3px 0;
	}
	.tooltip {
		display: none;
	}
	/***********************
*   MODAL
************************/
	#modal {
		display: none;
		position: fixed;
		_position: absolute; /* hack for internet explorer 6*/
		width: 518px;
		z-index: 51;
		height: 308px;
	}
	#backgroundPopup {
		display: none;
		position: fixed;
		_position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background: #000000;
		border: 1px solid #cecece;
		z-index: 50;
	}
	a.closeModal,a.closeModal:visited {
		color: #aaaaaa;
		text-decoration: none;
		font-weight: bold;
	}
	a.closeModal:hover {
		color: #ff9900;
		text-decoration: underline;
	}
	.closeModalBtn {
		text-align: left;
		margin-left: -10px;
		z-index: 199;
		margin-top: -325px;
	}
	#flashcontent {
		width: 518px;
	}

	/*************************
	 DEALER CONTACT FORM
	 *************************/

	#dlrNIL { margin-bottom: 12px; }

	#dlrNIL h2 {
		font-size: 20px;
		margin-bottom: 0px;
	}
	#dlrNIL a:visited{ color: #0000ff; }
	#dlrInfo h2{
		font-size: 14px;
		margin-bottom: 0px;
	}
	#dlrNIL input, #dlrInfo input,#dlrNIL textarea, #dlrNIL select, #dlrInfo select,#dlrInfo textarea{
		font-size: 11px;
		font-weight: normal;
		font-family:Verdana, Arial, Helvetica, sans-serif;
	}
	#addressBlock{
		width: 220px;
		padding: 2px;
	}
	#dlrNIL ul, #dlrInfo ul{
		margin: 0px 3px 3px 3px;
		padding: 0px;
	}
	#dlrNIL li, #dlrInfo li{
		padding-left: 15px;
		list-style: none;
		margin: 0px;
		line-height: 17px;
	}
	#dlrMap{  background:url(/img/vhr/map.gif) no-repeat 0px 2px;}
	#dlrPhone{
		background:url(/img/vhr/phone.gif) no-repeat 1px 3px;
		font-size: 12px;
		font-weight: bold;
	}
	#dlrLink{  background:url(/img/vhr/globe.gif) no-repeat 0px 3px;}
	#findOther{  background:url(/img/vhr/search.gif) no-repeat 0px 3px;}
	#nilMsg{
		padding: 3px;
		font-weight: bold;
	}
	#dealerInfo {
		padding: 0px 0px 10px 10px;
		text-align: left;
		vertical-align: top;
		width:346px;
		font-family:Arial;
	}
	#dealerLeadTd {
		border-left: 2px solid rgb(204, 204, 204);
		padding: 5px 5px 0px 5px;
		text-align: left;
		vertical-align: top;
		width: 310px;
	}
	#phoneErrorMsg {
		padding: 3px;
		font-weight: bold;
	}
	.faded{
		color:#999999;
		font-size: 11px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
	}
	.normaltxt{
		color: #000000;
		font-size: 11px;
		font-weight: normal;
		font-family:Verdana, Arial, Helvetica, sans-serif;
	}
	.nameInLight {
		border:0px;
		width: 656px;
		background:url(/img/vhr/blue.gif);
	}

	#contactDealerFormMini tr td { padding: 2px }

	#dealerInfo div#dealer-name a#dealer-name-link, #dealerInfo div#dealer-name {
		margin: 10px 0px 5px 0px;
		font-size: 18px;
		font-weight: bold;
	}

	/***************************
	**    Social Media Links
	*****************************/
	.socialLinks{font-weight: bold;line-height: 16px;margin: 10px 0;font-size: 12px;}
	.socialLinks img{vertical-align: middle;}
	.socialLinks a{text-decoration: none;margin-left: 10px;font-size: 12px;}
	.fbBlue{color: #526ca7;}
	.twitterBlue{color: #008fd4;}
	.gplusGrey{color: #333;}

	.socialFox{position: relative;width: 230px;height: 133px;overflow: hidden;}
	.socialFox img{z-index: 51;position: absolute; bottom: 0;}
	.fbFollow{position: absolute; margin-left: 135px;  top: 0px;z-index: 52;font-weight: bold; color: #666;font-size: 11px;font-family: Arial, Helvetica, sans-serif;}
	.foxfloat{position: absolute; margin-left: 135px; top: 20px;z-index: 52;}
	.socialpad{margin-top: 10px;}
	#topbarSocial{float: right; text-align: right;padding-top: 13px;margin-right: 15px;}
	.fb_edge_comment_widget {  display: none !important;}

	/***************************
	**    footer signature
	*****************************/
	#signatureModule {
		background-color: #f5f5f5;
		margin-top:12px;
	}

	#signatureModule * {
		font-size:13px;
	}

	#signatureModule #signatureText {
		text-align:left;
		margin:10px;
		display: inline-block;
		width:95%;
		line-height:17px;
	}

	#signatureModule .signatureLine {
		border-top:1px solid black;
		margin-top:45px;
		width:48%;
	}

	#signatureModule .signatureLine .sig {
		float:left;
		padding-left:5px;
	}

	#signatureModule .signatureDate {
	  float:right;
	  display:inline-block;
	  margin-right:0px;
	  padding-right:5px;
	}

	#customer{
	  float:left;
	}

	#dealer{
	  float:right;
	}

	/**Deprecated Signature styles**/

	#signatureModule.mercedes {
	    background-color: white;
	}

	#signatureModule.audi {
	    background-color: #f5f5f5;
	}

	#signatureModule.mercedes #signatureText {
		width: 55%;
	}

	#signatureModule .signatureVinDisplay {
		font-weight: bold;
	}

	#signatureModule #signatureLine {
		border-top:1px solid black;
		margin-top:45px;
	}

	#signatureModule #signatureLine #date {
		margin-right:200px;
		float:right;
		display:inline-block;
	}

	#signatureModule #signatureLine #sig {
		float:left;
	}

	#signatureImage {
	  float: left;
	  margin-top: 22px;
	}

	/**End Deprecated Signature styles**/

	#cfxHdrBar{height: 59px;overflow: hidden;}
	.hdrWrap{background: #ebeff7; border-color: #98a3b1;border-width: 0 3px 3px 3px; border-style: solid;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}
	.vInfo{width: 234px;float: left;padding: 5px;line-height:135%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}
	.vTbl{width: 430px; float: right;background: #fffbe7;min-height: 200px;position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}
	.icoCol{text-align: center;height: 45px;width: 45px;border-bottom: 1px solid #ebe7cb;border-right: 1px solid #ebe7cb;}
	.DescCol{
		background-color: #fffbe7;
		border-bottom: 1px solid #ebe7cb;
		text-align: left;
		padding-left: 7px;
		line-height: 45px;
		vertical-align:middle;
	}
	.DescCol *{	font-size: 12px;}
	.DescCol strong{font-size: 14px;}
	.DescCol label{display: inline-block;float: left; font-weight: bold;font-size: 14px; margin: 5px 7px 5px 0;vertical-align: middle;}
	.DescCol .wrappingDesc{display: block;line-height: 14px;vertical-align: middle;}
	.vTbl table {
		width: 100%;
		border-collapse:collapse;padding: 0;
		border-top: 1px solid #ebe7cb;
		border-left: 1px solid #ebe7cb;
		border-right: 1px solid #ebe7cb; }
	.vTbl tr{cursor: pointer;background: none;}
	.wellmaintained #vhrHeaderRow0{width:260px}
	.wellmaintained #vhrHeaderRow1{width:260px}
	.wellmaintained #vhrHeaderRow2{width:235px}
	.wellmaintained #vhrHeaderRow3{width:200px}
	.wellmaintained #vhrHeaderRow4{width:200px}
	.wellmaintained #vhrHeaderRow5{width:200px}
	.wellmaintained #printXpert{text-align:right;position: absolute;bottom:-3px; right: -40px;}

	.rowshading{background-image:url(/img/vhr/XDescbg.gif) !important;background-repeat:repeat-y;}

	.rowInfo{	display:none;
		position: absolute;
		width: 280px;
		padding: 10px;
		background: #fff1a8;
		font-size: 12px;
		border: 1px solid #dfd061;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: 0px 1px 4px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    0px 1px 4px rgba(50, 50, 50, 0.75);
		box-shadow:         0px 1px 4px rgba(50, 50, 50, 0.75);
		overflow: hidden
	}

	#xpertWMNew {
	position: absolute;
	top: 138px;
	height: 137px;
	width: 428px;
	z-index: 100;
	}

	.xpertWMNewBox {
		position: absolute;
		top: 18px;
		left: -10px;
		height: auto;
		width: 245px;
		background-color: none;
		border: none;
		padding-top: 10px;
		padding-left: 25px;
		padding-bottom: 10px;
		padding-right: 90px;
		text-align: center;
		z-index: 101;
	}

	.xpertWMNewBox p {
		font-size: 12px;
		line-height: 16px;
		color: #000;
	}
	.wmActivateList .cta {
		color: #333;
		line-height:26px;
		font-size: 12px;
	}
	.wmActivateList h5 {
		font-size:16px;
		line-height: 22px;
	}
	.wmActivateList ul li {
		list-style: disc;
		list-style-position: inside;
		font-size: 12px;
		line-height: 22px;
	}

	.wmvisitbox {
		padding: 0 10px 10px 10px;
		text-align: center;
		line-height: 30px;
	}
	.wmvisitbox strong {
		display: block;
	}
	.wmvisitbox h4 {
		font-size: 14px;
		line-height: 16px;
	}
	.wmvisitbox h4.noncsn {
		margin: 10px 0 20px 0;
	}

	.xpertWMNewBox p strong{
	font-size:12px;
	line-height:16px;
	}
    .left{
        float: left;
    }
	/*trueframe popup */

	#externalsitewarning{display: none;}

	#externalsitewarning{width: 100%;height: 100%;z-index: 10; position: absolute;top: 0; left: 0;}
	#externalsitewarning .modalFrost{width: 100%; height: 100%; background: #333; opacity: 0.6;}
	#externalsitewarning .modalClose{float: right; margin-right: -16px; margin-top: -16px;width: 32px;height: 32px;cursor: pointer;}
	#externalsitewarning .modalBox{width: 500px;
		margin: 0 auto;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow:    0 1px 3px 0 #ccc;
		-webkit-box-shadow: 0 1px 3px 0 #ccc;
		box-shadow:         0 1px 3px 0 #ccc;
		border: 4px solid #fff;
		background: #e4eff1;
		position: absolute;
		top: 66px;
	}
	#externalsitewarning .modalContent{
		padding: 20px 10px;
		line-height: 150%;
		text-align: center;
		font-size: 14px;
	}
	#externalsitewarning .confirm {
		-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
		-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
		box-shadow:inset 0px 1px 0px 0px #bbdaf7;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
		background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
		background-color:#79bbff;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		border:1px solid #84bbf3;
		display:inline-block;
		color:#ffffff;
		font-family:arial;
		font-size:15px;
		font-weight:bold;
		padding:6px 24px;
		text-decoration:none;
		text-shadow:1px 1px 0px #528ecc;
		margin: 20px;
	}
	#externalsitewarning .confirm:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
		background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
		background-color:#378de5;
	}
	#externalsitewarning .confirm:active {
		position:relative;
		top:1px;
	}
	#externalsitewarning .btnCancel {
		-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
		-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
		box-shadow:inset 0px 1px 0px 0px #ffffff;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
		background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
		background-color:#ededed;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		border:1px solid #dcdcdc;
		display:inline-block;
		color:#777777;
		font-family:arial;
		font-size:15px;
		font-weight:bold;
		padding:6px 24px;
		text-decoration:none;
		text-shadow:1px 1px 0px #ffffff;
		margin: 20px;
	}
	#externalsitewarning .btnCancel:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
		background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
		background-color:#dfdfdf;
	}
	#externalsitewarning .btnCancel:active {
		position:relative;
		top:1px;
	}
	.iucl-range-text{
		font-size:14px;
	}
	.iucl-heading {
		color:#3777bc;
		font-weight:bold;
		font-size:14px;
		padding: 15px 0 0 15px;
	}
	#ucl-module label {
		font-size: 13px;
	}
	#ucl-module small {
		font-size: 80%;
	}
	#ucl-module input[type="checkbox"] {
		margin: 0;
		padding: 0;
	}
	#ucl-module .iucl-showme-fox {
		top: 45px !important;
	}

    #ucdaModule {
        border: 3px solid #2E164B;
        width: 670px;
        margin: 0 auto;
        margin-bottom: 15px;
        margin-top:12px;
        background-color:#F3F3F3;
    }

    #ucdaContainer {
        page-break-before: always;
    }

    #ucdaModule *{
        font-size:13px;
    }

    #ucdaModule .floatRight {
        margin-right:0;
    }

    .ucdaPurple {
        color:#2E164B;
    }
    #ucdaModule .header {
        padding-top:2px;
        font-size:18px;
        line-height: 20px;
        margin-right:5px;
    }

    #ucdaModule .secHdr {
        height:50px;
    }

    #ucdaModule .secHdr > * {
        display:inline-block;
    }

    #ucdaModule .secHdr img {
        height:40px;
    }

    #ucdaIframe{
        height: 300px;
        width: 100%;
    }

    #ucdaContainer .ucdaText {
        padding: 0 0 10px 5px;
    }

    #sgi-module .disclaimer, #icbc-module .disclaimer {
        padding: 5px 0px 3px 10px;
    }

   	#addVinAlertButton {
        width: 670px;
        margin: 0 auto;
        text-align: left;
	}

    #addVinAlertButton button {
        background: #76b93f;
        color: #fff;
        font-weight: 700;
        font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
        font-size: 14px;
        zoom: 1;
        height: 34px;
        padding: 0 10px;
        border: 1px solid #76b93f;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        cursor: pointer;
        vertical-align: middle;
    }

	#addVinAlertButton h1{
		font-size: 18px;
		font-weight: bold;
	}

	#addVinAlertButton p{
		font-size: 14px;
		padding: 10px 0px;
	}

    #addVinAlertWatchButton > i {
        display: none; }
    #addVinAlertWatchButton:disabled > span {
        display: none; }
    #addVinAlertWatchButton:disabled > i {
        display: inline; }
	
	.noPrint > td:not(.buttress) > img, .noPrint > img, .nopad > img, .xpertImg {
		display: block; }

	.dealer-web-address{
		word-wrap:break-word;
		max-width: 200px;
	}
}
@media screen {
	.printOnly {
		display: none;
	}
}
@media print {
	#RRR,#RRR * {
		display: none !important;
	}
	.noPrint {
		display: none;
	}
	.printOnly {
		display: block;
	}
	.ownerTabPrint {
		border: 2px solid #4776a9;
		border-right-width: 0;
		background-color: #4776a9;
	}
	.xpertTab {
		margin-top: 15px;
		background-image: none;
		border: 0 none;
	}
	.xpertDetailInRecord,.xpertLongFormat {
		border: 1px solid #cccccc;
		padding: 2px;
		background-image: none;
	}
	a {
		text-decoration: none;
	}
	.eventCol a,.eventCol a:visited,a.vhr-tooltip,a.vhr-tooltip:visited {
		border: 0;
	}
	#hdr,#sumOwnModule,#dmvProbsModule,#otherInfoModule,#hlModule,#detailsModule,#glossaryModule,#sgi-module,#icbc-module
		{
		background-color: #ffffff;
	}
	#lefthanger,#chiVidTab {
		display: none !important;
	}
	.help {
		display: none;
	}
	#uclLeadFrame {
		display: none !important;
	}
}

.advantageShopLogo {
	max-width: 90px;
	max-height: 30px;
	width: 90px;
	height: 30px;
}