@model lbfox.ViewModels.VincodeViewModel

@{
    /**/

    ViewBag.Title = "Car History Report";
}

<h2>Car History Report</h2>

@using (Html.BeginForm())
{
    <div class="form-row">
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.Vincode, new { value = "vin code" })
            @Html.TextBoxFor(model => model.Vincode, new { maxlength = 17, @class = "form-control" })
        </div>
        <div class="col-md-9"></div>
        <div class="col-md-12">@Html.ValidationSummary()</div>
    </div>

    <button type="submit" value="submit" class="btn btn-primary">Submit</button>

    if (ViewBag.Success == true)
    {
        <script>
            (function () {
                var win = window.open('@Url.Content("~/reports/" + ViewBag.ReportName)', '_blank');
                win.focus();
            })();
        </script>
    }
}
