@model lbfox.ViewModels.VincodeViewModel

@{
    ViewBag.Title = "Car History Report";
    ViewBag.ActiveMenu = "Car History Report";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formVin" }))
{
    <div class="form-group row">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.Vincode, new { value = "vin code", @class = "col-form-label" })
        </div>
        <div class="col-sm-9"></div>
        <div class="col-sm-3">
            @Html.TextBoxFor(model => model.Vincode, new { maxlength = 17, @class = "form-control" })
        </div>
        <div id="divReport" class="col-sm-2">
            <a href="#" id="aReport" class="btn btn-dark" target="_blank">view report</a>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3">
            <button type="submit" value="submit" id="btnSubmit" class="btn btn-primary">Submit</button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">@Html.ValidationSummary()</div>
    </div>
}

<div class="animationload" id="loader" style="display: none;">
    <div class="animationbg"></div>
    <div class="osahanloading"></div>
</div>

@section scripts
{
    <script>
        $(function() {
            $('#formVin').submit(function (event) {
                event.preventDefault();
                $.ajax({
                    method: 'post',
                    url: '@Url.Action(null,null, null)',
                    dataType: 'json',
                    data: $(this).serialize(),
                    beforeSend: function() {
                        $('#loader').show();
                    }
                }).done(function(response) {
                    if (response.Success) {
                        $('#divReport').show().find('#aReport').attr('href', response.ReportFile);
                    }
                }).always(function() {
                    $('#loader').hide();
                });
            });
        });
    </script>
}
