@model lbfox.ViewModels.VincodeViewModel

@{
    ViewBag.Title = "Car History Report";
    ViewBag.ActiveMenu = "Car History Report";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formVin" }))
{
    <div class="form-group row">
        <div class="col-sm-5">
            @Html.LabelFor(model => model.Vincode, new { value = "vin code", @class = "col-form-label" })
        </div>
        <div class="col-sm-7"></div>
        <div class="col-sm-12 col-md-7 col-lg-5">
            <div class="row">
                <div class="col-sm-8 col-7"> @Html.TextBoxFor(model => model.Vincode, new { maxlength = 17, @class = "form-control" })</div>
                <div class="col-sm-4 col-5" id="divReport"><a href="#" id="aReport" class="btn btn-dark" target="_blank">view report</a></div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3">
            <button type="button" value="submit" id="btnSubmit" class="btn btn-primary">Submit</button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">@Html.ValidationSummary(null, new { @class = "div-validation" })</div>
    </div>
}

<div class="animationload" id="loader" style="display: none;">
    <div class="animationbg"></div>
    <div class="osahanloading"></div>
</div>

@section scripts
{
    <script>
        $(function () {
            $('#btnSubmit').click(function () {
                var $form = $('#formVin');
                if ($form.valid()) {
                    $('.validation-summary-errors li').hide();
                    $.ajax({
                        method: 'post',
                        url: '@Url.Action("VinReport", "Home", null)',
                        dataType: 'json',
                        data: $form.serialize(),
                        beforeSend: function() {
                            $('#loader').show();
                        }
                    }).done(function(response) {
                        if (response.Success) {
                            $('#divReport').show().find('#aReport').attr('href', response.ReportFile);
                            if (response.RemainingPoints !== null) $('#lblPoints').text(response.RemainingPoints);
                        } else {
                            var arr = response.Validation;
                            var $ul = $('.div-validation')
                                .addClass('validation-summary-errors')
                                .removeClass('validation-summary-valid')
                                .find('ul')
                                .empty();

                            for (var i = 0; i < arr.length; i++) {
                                for (var j = 0; j < arr[i].Errors.length; j++) {
                                    $ul.append('<li>' + arr[i].Errors[j].ErrorMessage + '</li>');
                                }
                            }
                        }
                    }).always(function() {
                        $('#loader').hide();
                    });
                }
            });
        });
    </script>
}
